<footer class="block block--dark footer">
  <div class="grid">
    <section class="collapsable collapsable--expanded footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Item 1</h2>
        <svg class="icon icon--white collapsable__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>Wordpress Hosting</li>
          <li>Free Automated Wordpress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Item 2</h2>
        <svg class="icon icon--white collapsable__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>Wordpress Hosting</li>
          <li>Free Automated Wordpress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Item 2</h2>
        <svg class="icon icon--white collapsable__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>Wordpress Hosting</li>
          <li>Free Automated Wordpress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Yasir</p>
    </section>
  </div>
</footer>
